@model IEnumerable<TARpe21ShopVaitmaa.Models.Spaceship.SpaceshipIndexViewModel>

<div class="h1">Product</div>
<div>
    <a asp-action="add" asp-controller="spaceships" type="submit" class="btn btn-primary">Add</a>
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Pssengers</th>
                <th scope="col">Engine Power</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spaceship in Model)
            {
                <tr>
                    <td>1</td>
                    <td>@spaceship.Name</td>
                    <td>@spaceship.Type</td>
                    <td>@spaceship.PassengerCount</td>
                    <td>@spaceship.EnginePower</td>
                    <td>
                        <a asp-action="edit" asp-controller="spaceship" asp-route-id="@spaceship.Id" class="btn btn-primary">Edit</a>
                        <input asp-action="delete" asp-controller="spaceship" asp-route-id="@spaceship.Id" type="submit" class="btn btn-danger" value="Delete" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>