@model TARpe21ShopVaitmaa.Models.RealEstate.RealEstateDetailsViewModel
<h1>Details</h1>
<div>

    <h4>Real Estate</h4>
    <hr />
    <dl class="row">
        <div class="form-group-row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="form-group-row">
            <label asp-for="Address" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Address)
        </div>

        <div class="form-group-row">
            <label asp-for="City" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.City)
        </div>

        <div class="form-group-row">
            <label asp-for="Country" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Country)
        </div>

        <div class="form-group-row">
            <label asp-for="County" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.County)
        </div>

        <div class="form-group-row">
            <label asp-for="PostalCode" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.PostalCode)
        </div>

        <div class="form-group-row">
            <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>

        <div class="form-group-row">
            <label asp-for="FaxNumber" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FaxNumber)
        </div>

        <div class="form-group-row">
            <label asp-for="ListingDescription" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ListingDescription)
        </div>

        <div class="form-group-row">
            <label asp-for="SquareMeters" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.SquareMeters)
        </div>

        <div class="form-group-row">
            <label asp-for="SqMPrice" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.SqMPrice)
        </div>

        <div class="form-group-row">
            <label asp-for="BuildDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.BuildDate)
        </div>

        <div class="form-group-row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Price)
        </div>

        <div class="form-group-row">
            <label asp-for="RoomCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.RoomCount)
        </div>

        <div class="form-group-row">
            <label asp-for="FloorCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FloorCount)
        </div>

        <div class="form-group-row">
            <label asp-for="EstateFloor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.EstateFloor)
        </div>

        <div class="form-group-row">
            <label asp-for="Bathrooms" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Bathrooms)
        </div>

        <div class="form-group-row">
            <label asp-for="Bedrooms" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Bedrooms)
        </div>

        <div class="form-group-row">
            <label asp-for="DoesHaveParkingSpace" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DoesHaveParkingSpace)
        </div>

        <div class="form-group-row">
            <label asp-for="DoesHavePowerGridConnection" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DoesHavePowerGridConnection)
        </div>

        <div class="form-group-row">
            <label asp-for="DoesHaveWaterGridConnection" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DoesHaveWaterGridConnection)
        </div>

        <div class="form-group-row">
            <label asp-for="Type" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Type)
        </div>

        <div class="form-group-row">
            <label asp-for="IsPropertyNewDevelopment" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsPropertyNewDevelopment)
        </div>

        <div class="form-group-row">
            <label asp-for="IsPropertySold" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsPropertySold)
        </div>

        <div class="form-group-row">
            <label asp-for="ModifiedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ModifiedAt)
        </div>

        <div class="form-group-row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
        @foreach (var images in Model.FileToApiViewModels)
        {
            <partial name="_Images" model="images" />
        }
    </dl>
    <a asp-action="Index" asp-controller="realEstates" class="btn btn-primary">Back</a>
</div>